<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.clouduser.dao.BillFlowMapper">
  <resultMap id="BaseResultMap" type="com.gwm.clouduser.model.entity.BillFlow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="cloud_type" jdbcType="VARCHAR" property="cloudType" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="cost" jdbcType="VARCHAR" property="cost" />
    <result column="bill_day" jdbcType="TIMESTAMP" property="billDay" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_id, resource_type, cloud_type, region, zone, cost, bill_day
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill_flow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bill_flow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gwm.clouduser.model.entity.BillFlow">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill_flow (resource_id, resource_type, cloud_type, 
      region, zone, cost, 
      bill_day)
    values (#{resourceId,jdbcType=VARCHAR}, #{resourceType,jdbcType=VARCHAR}, #{cloudType,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{zone,jdbcType=VARCHAR}, #{cost,jdbcType=VARCHAR}, 
      #{billDay,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gwm.clouduser.model.entity.BillFlow">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        resource_id,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="cloudType != null">
        cloud_type,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="billDay != null">
        bill_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourceId != null">
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="cloudType != null">
        #{cloudType,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=VARCHAR},
      </if>
      <if test="billDay != null">
        #{billDay,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gwm.clouduser.model.entity.BillFlow">
    update bill_flow
    <set>
      <if test="resourceId != null">
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="cloudType != null">
        cloud_type = #{cloudType,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=VARCHAR},
      </if>
      <if test="billDay != null">
        bill_day = #{billDay,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gwm.clouduser.model.entity.BillFlow">
    update bill_flow
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=VARCHAR},
      cloud_type = #{cloudType,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=VARCHAR},
      bill_day = #{billDay,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>