<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.clouduser.dao.PriceModelMapper">
  <resultMap id="BaseResultMap" type="com.gwm.clouduser.model.entity.PriceModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="cloud_type" jdbcType="VARCHAR" property="cloudType" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="flavor_id" jdbcType="VARCHAR" property="flavorId" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="disk_type" jdbcType="VARCHAR" property="diskType" />
    <result column="instance_type" jdbcType="VARCHAR" property="instanceType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, created_at, updated_at, deleted_at, deleted, region, zone, cloud_type, 
    type, flavor_id, price, disk_type, instance_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from price_model
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from price_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gwm.clouduser.model.entity.PriceModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into price_model (uuid, created_at, updated_at, 
      deleted_at, deleted, region, 
      zone, cloud_type, type, 
      flavor_id, price, disk_type, 
      instance_type)
    values (#{uuid,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{deletedAt,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, #{region,jdbcType=VARCHAR}, 
      #{zone,jdbcType=VARCHAR}, #{cloudType,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{flavorId,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{diskType,jdbcType=VARCHAR}, 
      #{instanceType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gwm.clouduser.model.entity.PriceModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into price_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="cloudType != null">
        cloud_type,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="flavorId != null">
        flavor_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="diskType != null">
        disk_type,
      </if>
      <if test="instanceType != null">
        instance_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="cloudType != null">
        #{cloudType,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="flavorId != null">
        #{flavorId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="diskType != null">
        #{diskType,jdbcType=VARCHAR},
      </if>
      <if test="instanceType != null">
        #{instanceType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gwm.clouduser.model.entity.PriceModel">
    update price_model
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="cloudType != null">
        cloud_type = #{cloudType,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="flavorId != null">
        flavor_id = #{flavorId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="diskType != null">
        disk_type = #{diskType,jdbcType=VARCHAR},
      </if>
      <if test="instanceType != null">
        instance_type = #{instanceType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gwm.clouduser.model.entity.PriceModel">
    update price_model
    set uuid = #{uuid,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      region = #{region,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      cloud_type = #{cloudType,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      flavor_id = #{flavorId,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      disk_type = #{diskType,jdbcType=VARCHAR},
      instance_type = #{instanceType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getPriceModelList" resultMap="BaseResultMap" parameterType="com.gwm.clouduser.model.DTO.PriceModelListDTO">
    select
    <include refid="Base_Column_List" />
    from price_model
    where deleted = '0'
    <if test="region!= null and region != ''">
      and  region = #{region}
    </if>
    <if test="type!= null and type != ''">
      and  type = #{type}
    </if>
    <if test="cloudType!= null and cloudType != ''">
      and  cloud_type = #{cloudType}
    </if>
    <if test="zone!= null and zone != ''">
      and  zone = #{zone}
    </if>
    <if test="flavorId!= null and flavorId != ''">
      and  flavor_id = #{flavorId}
    </if>

  </select>

  <select id="getOnePriceModel" resultMap="BaseResultMap"  parameterType="com.gwm.clouduser.model.entity.PriceModel">
    select
    <include refid="Base_Column_List" />
    from price_model
    where deleted = '0'

  </select>


</mapper>