<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.cloudalert.dao.CloudAlertMapper">
    <resultMap id="BaseResultMap" type="com.gwm.cloudalert.model.entity.AlertTeamItem">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="member" jdbcType="VARCHAR" property="member" />
        <result column="group_id" jdbcType="INTEGER" property="groupId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <insert id="insert" parameterType="com.gwm.cloudalert.model.entity.AlertTeamItem">
    insert into cloud_alert_teams(name,member,group_id,user_id,note,created_at,deleted)
    values (
      #{name,jdbcType=VARCHAR},
      #{member,jdbcType=VARCHAR},
      #{groupId,jdbcType=INTEGER},
      #{userId,jdbcType=VARCHAR},
      #{note,jdbcType=VARCHAR},
      #{createdAt,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.gwm.cloudalert.model.entity.AlertTeamItem" >
       update cloud_alert_teams
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="member != null">
                member = #{member,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedAt != null">
                deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>

        </set>
        where  id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryAlertTeamList" parameterType="com.gwm.cloudalert.model.dto.AlertTeamDTO" resultMap="BaseResultMap">
    select
    id,name,member,group_id,user_id,note,created_at,deleted
        from  cloud_alert_teams  where  deleted = 0
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + name + '%'"/>
            and `name` like #{name}
        </if>
        <if test="groupId != null and groupId != ''">
            and `group_id` = #{groupId}
        </if>
        <if test="userId != null and userId != ''">
            and `user_id` = #{userId}
        </if>
        <if test="member != null">
            and  member = #{member}
        </if>
        <if test="id !=null">
            and   id in(#{id})
        </if>
    </select>

    <select id="queryAlertTeamListByIds" parameterType="java.util.ArrayList"  resultMap="BaseResultMap">
        select
        id,name,member,group_id,user_id,note,created_at,deleted
        from  cloud_alert_teams  where  deleted = 0
        <if test="ids !=null">
            and id in(${ids})
        </if>
    </select>

</mapper>