<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.cloudalert.dao.CloudAlertStrategyMapper">
  <resultMap id="BaseResultMap" type="com.gwm.cloudalert.model.entity.CloudAlertStrategy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
    <result column="notice_start_time" jdbcType="VARCHAR" property="noticeStartTime" />
    <result column="notice_end_time" jdbcType="VARCHAR" property="noticeEndTime" />
    <result column="alarm_strategy_id" jdbcType="VARCHAR" property="alarmStrategyId" />
    <result column="alert_type" jdbcType="VARCHAR" property="alertType" />
    <result column="resources_type" jdbcType="VARCHAR" property="resourcesType" />
    <result column="monitor_type" jdbcType="VARCHAR" property="monitorType" />
    <result column="check_window" jdbcType="INTEGER" property="checkWindow" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="alarm_window" jdbcType="INTEGER" property="alarmWindow" />
    <result column="monitor_level" jdbcType="VARCHAR" property="monitorLevel" />
    <result column="threshold" jdbcType="VARCHAR" property="threshold" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="alert_teams_id" jdbcType="INTEGER" property="alertTeamsId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="host" jdbcType="LONGVARCHAR" property="host" />
  </resultMap>
  <sql id="Base_Column_List">
    id, strategy_name, alert_type, resources_type, monitor_type, check_window, count,
    alarm_window, monitor_level, threshold, method, alert_teams_id, group_id, user_id, 
    created_at, updated_at, deleted_at, deleted,notice_start_time,notice_end_time,alarm_strategy_id,host
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cloud_alert_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cloud_alert_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gwm.cloudalert.model.entity.CloudAlertStrategy">
    insert into cloud_alert_strategy (id, strategy_name, alert_type, 
      resources_type, monitor_type, check_window, 
      count, alarm_window, monitor_level, 
      threshold, method, alert_teams_id, 
      group_id, user_id, created_at, 
      updated_at, deleted_at, deleted,notice_start_time,notice_end_time,alarm_strategy_id,host
      )
    values (#{id,jdbcType=INTEGER}, #{strategyName,jdbcType=VARCHAR}, #{alertType,jdbcType=VARCHAR}, 
      #{resourcesType,jdbcType=VARCHAR}, #{monitorType,jdbcType=VARCHAR}, #{checkWindow,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER}, #{alarmWindow,jdbcType=INTEGER}, #{monitorLevel,jdbcType=VARCHAR},
      #{threshold,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{alertTeamsId,jdbcType=INTEGER},
      #{groupId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER},
      #{noticeStartTime,jdbcType=VARCHAR},#{noticeEndTime,jdbcType=VARCHAR},#{alarmStrategyId,jdbcType=VARCHAR},
      #{host,jdbcType=LONGVARCHAR}
      )
  </insert>
  <!--
  <insert id="insertSelective" parameterType="com.gwm.cloudalert.model.entity.CloudAlertStrategy">
    insert into cloud_alert_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="strategyName != null">
        strategy_name,
      </if>
      <if test="alertType != null">
        alert_type,
      </if>
      <if test="resourcesType != null">
        resources_type,
      </if>
      <if test="monitorType != null">
        monitor_type,
      </if>
      <if test="checkWindow != null">
        check_window,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="alarmWindow != null">
        alarm_window,
      </if>
      <if test="monitorLevel != null">
        monitor_level,
      </if>
      <if test="threshold != null">
        threshold,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="alertTeamsId != null">
        alert_teams_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="strategyName != null">
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="alertType != null">
        #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="resourcesType != null">
        #{resourcesType,jdbcType=VARCHAR},
      </if>
      <if test="monitorType != null">
        #{monitorType,jdbcType=VARCHAR},
      </if>
      <if test="checkWindow != null">
        #{checkWindow,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="alarmWindow != null">
        #{alarmWindow,jdbcType=INTEGER},
      </if>
      <if test="monitorLevel != null">
        #{monitorLevel,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="alertTeamsId != null">
        #{alertTeamsId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  -->
  <update id="updateByPrimaryKeySelective" parameterType="com.gwm.cloudalert.model.entity.CloudAlertStrategy">
    update cloud_alert_strategy
    <set>
      <if test="strategyName != null">
        strategy_name = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="alertType != null">
        alert_type = #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="resourcesType != null">
        resources_type = #{resourcesType,jdbcType=VARCHAR},
      </if>
      <if test="monitorType != null">
        monitor_type = #{monitorType,jdbcType=VARCHAR},
      </if>
      <if test="checkWindow != null">
        check_window = #{checkWindow,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="alarmWindow != null">
        alarm_window = #{alarmWindow,jdbcType=INTEGER},
      </if>
      <if test="monitorLevel != null">
        monitor_level = #{monitorLevel,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null">
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="alertTeamsId != null">
        alert_teams_id = #{alertTeamsId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="noticeStartTime != null">
        notice_start_time = #{noticeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="noticeEndTime != null">
        notice_end_time = #{noticeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="alarmStrategyId !=null">
        alarm_strategy_id = #{alarmStrategyId,jdbcType=VARCHAR},
      </if>
      <if test="host !=null">
        host = #{host,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryAlertStrategyList" parameterType="com.gwm.cloudalert.model.dto.CloudAlertStrategyDTO" resultMap="BaseResultMap">
    select    <include refid="Base_Column_List" />
     from  cloud_alert_strategy  where deleted = 0
    <if test="id != null">
     and id= #{id,jdbcType=INTEGER}
    </if>
    <if test="alarmStrategyId !=null">
      alarm_strategy_id = #{alarmStrategyId,jdbcType=VARCHAR}
    </if>

    <if test="strategyName != null">
     and  strategy_name like concat('%',#{strategyName,jdbcType=VARCHAR},'%')
    </if>

    <if test="host != null">
      and FIND_IN_SET(#{host,jdbcType=LONGVARCHAR},HOST)
    </if>

    <if test="alertType != null">
     and  alert_type = #{alertType,jdbcType=VARCHAR}
    </if>
    <if test="resourcesType != null">
     and  resources_type = #{resourcesType,jdbcType=VARCHAR}
    </if>
    <if test="monitorType != null">
      and  monitor_type = #{monitorType,jdbcType=VARCHAR}
    </if>
    <if test="checkWindow != null">
     and check_window =  #{checkWindow,jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
     and group_id =  #{groupId,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
     and user_id = #{userId,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="querySendUserIds" resultType="java.lang.String">
    select member from  (
    SELECT GROUP_CONCAT(c.member) member,a.alarm_strategy_id
    FROM cloud_alert_strategy a JOIN cloud_alert_teams c ON  FIND_IN_SET(c.id,a.alert_teams_id)
    GROUP BY a.id
)   t    where  FIND_IN_SET(#{alarmStrategyId,jdbcType=VARCHAR},t.alarm_strategy_id)
  </select>
  <select id="queryStrategyByTeamId"  resultType="java.lang.String">
     SELECT  id FROM  cloud_alert_strategy   WHERE  FIND_IN_SET(#{alertTeamsId,jdbcType=INTEGER},alert_teams_id)
  </select>


</mapper>