<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.cloudecs.dao.VolumeMapper">
    <resultMap id="BaseResultMap" type="com.gwm.cloudecs.model.entity.Volume">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="bootable" jdbcType="VARCHAR" property="bootable"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
        <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="env" jdbcType="VARCHAR" property="env"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="size" jdbcType="INTEGER" property="size"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="volume_type" jdbcType="VARCHAR" property="volumeType"/>
        <result column="zone" jdbcType="VARCHAR" property="zone"/>
    </resultMap>
    <resultMap id="BaseResultMapVO" type="com.gwm.cloudecs.model.VO.VolumeListVO" extends="BaseResultMap">
        <result column="mountInstance" jdbcType="VARCHAR" property="mountInstance"/>
        <result column="snapshotCount" jdbcType="INTEGER" property="snapshotCount"/>
        <result column="instanceUuid" jdbcType="VARCHAR" property="instanceUuid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, bootable, create_at, deleted, deleted_at, description, env, name, project_id, 
    region, size, status, type, update_at, user_id, uuid, volume_type, zone
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from volume
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByInstanceId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from volume
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from volume
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.gwm.cloudecs.model.entity.Volume">
    insert into volume (id, bootable, create_at, 
      deleted, deleted_at, description, 
      env, name, project_id, 
      region, size, status, 
      type, update_at, user_id, 
      uuid, volume_type, zone
      )
    values (#{id,jdbcType=INTEGER}, #{bootable,jdbcType=VARCHAR}, now(),
      0, #{deletedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR},
      #{env,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{updateAt,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{uuid,jdbcType=VARCHAR}, #{volumeType,jdbcType=VARCHAR}, #{zone,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.gwm.cloudecs.model.entity.Volume">
        insert into volume
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bootable != null">
                bootable,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="deletedAt != null">
                deleted_at,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="env != null">
                env,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="volumeType != null">
                volume_type,
            </if>
            <if test="zone != null">
                zone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="bootable != null">
                #{bootable,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
            <if test="deletedAt != null">
                #{deletedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="env != null">
                #{env,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                #{region,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="volumeType != null">
                #{volumeType,jdbcType=VARCHAR},
            </if>
            <if test="zone != null">
                #{zone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gwm.cloudecs.model.entity.Volume">
        update volume
        <set>
            <if test="bootable != null">
                bootable = #{bootable,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
            <if test="deletedAt != null">
                deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="env != null">
                env = #{env,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="volumeType != null">
                volume_type = #{volumeType,jdbcType=VARCHAR},
            </if>
            <if test="zone != null">
                zone = #{zone,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gwm.cloudecs.model.entity.Volume">
    update volume
    set bootable = #{bootable,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      env = #{env,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      volume_type = #{volumeType,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateVolumeStatus">
    update volume
    set
      status = #{status,jdbcType=VARCHAR},
      update_at = now()
    where  uuid = #{uuid,jdbcType=VARCHAR}
  </update>
    <select id="getVolumeList" parameterType="com.gwm.cloudecs.model.DTO.VolumeListDTO" resultMap="BaseResultMapVO">
        SELECT
        v.id, v.bootable, v.create_at, v.description, v.env, v.name, v.project_id,
        v.region, v.size, v.status, v.type, v.update_at, v.user_id, v.uuid, v.volume_type, v.zone,IFNULL(i.name, "无") AS
        mountInstance, IFNULL(t.snapshotCount, 0) AS snapshotCount, ifnull(i.uuid, "") AS instanceUuid
        FROM volume v
        LEFT JOIN volume_mount vm ON vm.volume_id = v.uuid AND vm.deleted = 0
        LEFT JOIN instances i ON i.uuid = vm.instance_id
        LEFT JOIN (SELECT COUNT(*) AS snapshotCount, volume_id FROM `snapshot` where deleted = 0 GROUP BY volume_id ) t
        ON t.volume_id = v.uuid
        WHERE v.deleted = 0
        <if test="name != null and name != ''">
            <bind name="name" value="'%' + name + '%'"/>
            and v.name like #{name}
        </if>
        <if test="env != null and env != ''">
            and v.env = #{env}
        </if>
        <if test="zone != null and zone != ''">
            and v.zone = #{zone}
        </if>
        <if test="type != null and  type != ''">
            and v.type = #{type}
        </if>
        <if test="region != null and  region != ''">
            and v.region = #{region}
        </if>
        <if test="groupId != null and  groupId != ''">
            and v.project_id = #{groupId}
        </if>
        <if test='status == "2"'>
            and v.uuid not in (select volume_id from volume_mount where deleted = 0)
        </if>
        order by v.create_at DESC
    </select>
    <select id="getInstanceVolumeList" resultMap="BaseResultMap">
   SELECT v. id, v.bootable, v.create_at, v.deleted, v.deleted_at, v.description, v.env, v.name, v.project_id,
    v.region, v.size, v.status, v.type, v.update_at, v.user_id, v.uuid, v.volume_type, v.zone
    FROM  volume v
    LEFT JOIN volume_mount vm ON vm.`volume_id` = v.`uuid` AND vm.`deleted` = 0
    LEFT JOIN instances i ON i.`uuid` = vm.`instance_id` AND  i.`deleted` = 0
    WHERE i.`uuid` = #{instanceId}
       order by i.create_at DESC
  </select>
    <select id="selectByVolumeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from volume
        where uuid = #{uuid}
    </select>

    <select id="totalVolumeByProjectId" resultType="com.gwm.cloudecs.model.VO.VolumeTotalListVO"
            parameterType="com.gwm.cloudecs.model.DTO.ResourceTotalListDTO">
        select
        sum(size) as size,
        count(id) as volumeCount
        from volume
        where deleted = 0
        <if test="env != null and env != ''">
            and env = #{env}
        </if>
        <if test="region != null and region != ''">
            and region = #{region}
        </if>
        <if test="groupId != null and groupId != ''">
            and project_id = #{groupId}
        </if>
        group by project_id
    </select>


</mapper>