<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwm.cloudecs.dao.PortMapper">
  <resultMap id="BaseResultMap" type="com.gwm.cloudecs.model.entity.Port">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="device_type" jdbcType="INTEGER" property="deviceType" />
    <result column="mac_address" jdbcType="INTEGER" property="macAddress" />
    <result column="name" jdbcType="INTEGER" property="name" />
    <result column="network_id" jdbcType="INTEGER" property="networkId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_at, deleted, deleted_at, device_id, device_type, mac_address, name, network_id, 
    project_id, status, update_at, uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from port
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from port
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gwm.cloudecs.model.entity.Port" useGeneratedKeys="true" keyProperty="id">
    insert into port (create_at, deleted,
      deleted_at, device_id, device_type, 
      mac_address, name, network_id, 
      project_id, status, update_at, 
      uuid)
    values (#{createAt,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER},
      #{deletedAt,jdbcType=TIMESTAMP}, #{deviceId,jdbcType=INTEGER}, #{deviceType,jdbcType=INTEGER}, 
      #{macAddress,jdbcType=INTEGER}, #{name,jdbcType=INTEGER}, #{networkId,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{uuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gwm.cloudecs.model.entity.Port">
    insert into port
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="macAddress != null">
        mac_address,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="networkId != null">
        network_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="macAddress != null">
        #{macAddress,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=INTEGER},
      </if>
      <if test="networkId != null">
        #{networkId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gwm.cloudecs.model.entity.Port">
    update port
    <set>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="macAddress != null">
        mac_address = #{macAddress,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=INTEGER},
      </if>
      <if test="networkId != null">
        network_id = #{networkId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gwm.cloudecs.model.entity.Port">
    update port
    set create_at = #{createAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      device_id = #{deviceId,jdbcType=INTEGER},
      device_type = #{deviceType,jdbcType=INTEGER},
      mac_address = #{macAddress,jdbcType=INTEGER},
      name = #{name,jdbcType=INTEGER},
      network_id = #{networkId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      uuid = #{uuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>